# ignore all 
*
# but not directories which names starting with a dot
!/.*/**
# but not files which names starting with a dot
!/.*
# ignore all keepass DBs
**.kdbx
**.kdbx.lock

#ignore ssh
.ssh
#ignore aws
.aws
#ignore local aliases
.local_aliases
# ignore bash
.bashrc
.bash_logout
.bash_history

# ignore viminfo
.viminfo

# ignore haskell stack
.stack

# ignore ubuntu-specific file
.sudo_as_admin_successful

.zsh-update
.zsh_history
.zcompdump*
.histfile
.lesshst
.profile
